<div class="container">
	<div class="row">
			<% @players.each do  |player| %>
    <div class="span2 player-image" style="padding-top:30px">
      <img src="<%= player.image_url %>"> 
    </div>
    <div class="span4 player-image" style="padding-top:30px">
				<blockquote>
				<p><%= player.name %></p>

				<p><small>
					<cite title="Source Title">
						Team: <%= player.team %>
					</cite>
				</small>
				</blockquote>
	
				<p>
				<strong>Shooting:</strong>
				<%=player.shooting %>
				<p>
					
				<strong>Defending: </strong>
				<%= player.defending %>

				<p>
				<strong>Discipline: </strong>
				<%= player.discipline %>


				<p>
				<strong>Experiance:<strong>
				<%= player.experiance %> years
						
				<p>
				<strong>D.O.B: </strong><%= player.DateOfBirth %>
				<p>

				<%=link_to 'Edit this player', edit_player_path(player) %>
				<%=link_to 'Delete this player', player_path(player), method: :delete, data:{confirm:'Are you sure'} %>
				<%= link_to 'view player profile', player_path(player)%>
		</div>
			<% end %>
	</div>
</div>