<!DOCTYPE html>
<html>
<head>
  <title>FantasyLeague</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><%= link_to('Players', players_path) %></li>
  <li><%= link_to('New Player', new_player_path) %></li>
  <li><%= link_to('Fixtures/Results', fixtures_path) %></li>
<% if user_signed_in? %>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
<% else %>
  <li><%= link_to('Login', new_user_session_path)  %></li>
  <li><%= link_to('Register', new_user_registration_path)  %></li>
<% end %>
</ul>





<%= yield %>

</body>
</html>
